In [1]:
# this is a python code cell

print( 2 + 2 )

4

markdown language is like a text language.

# section header, not a comment

## subsection again not a comment

### still not a comment

#### a smaller subsection

##### a smaller a smaller sub section, still not a comment

some more text. think of this as typing in microsoft word or google docs

type in markdown again, but if i use $x$ i will display a math looking LaTeX variable.

in-line expression with something more complex: $x^2 + y^2 = z^2$

We can use equation blocks with `$$ $$`. so for example:

$$ x_n + y_n = b_n $$

## Here's a short intro to strings

strings are characters.

In [2]:
'a' + 'b'

'ab'

In [3]:
3 * 'c'

'ccc'

In [4]:
print( type( 5 * 'd') )

<class 'str'>

## show the data type of a few variables

In [5]:
x = 3

print( type(x) )

<class 'int'>

In [6]:
y = 3.3

print( type(y) )

<class 'float'>

## LIST

the list is a structured sequential data type. created with `[]`

In [7]:
an_empty_list = []

print(type(an_empty_list))

<class 'list'>

In [8]:
print( len(an_empty_list) )

0

In [9]:
the_hobbits = ['frodo', 'sam', 'merry', 'pippin']

print( type(the_hobbits) )

<class 'list'>

In [10]:
%whos

Variable        Type     Data/Info
----------------------------------
an_empty_list   list     n=0
the_hobbits     list     n=4
x               int      3
y               float    3.3

In [11]:
print( type( the_hobbits[1] ) )

<class 'str'>

In [12]:
print( the_hobbits[1] )

sam

PYTHON is ZERO-BASED INDEXED!!!

to access the start or beginning of the list, we need to use element **0**.

In [13]:
print( the_hobbits[0] )

frodo

In [14]:
print( the_hobbits[0] )

print( the_hobbits[1] )

print( the_hobbits[2] )

print( the_hobbits[3] )

frodo
sam
merry
pippin

## for-loop

To iterate over elements in a SEQUENCE. The basic syntax is:

for *variable* in *sequence*:

    *do something*

In [15]:
for a_hobbit in the_hobbits:
    print( a_hobbit )

frodo
sam
merry
pippin

In [16]:
%whos

Variable        Type     Data/Info
----------------------------------
a_hobbit        str      pippin
an_empty_list   list     n=0
the_hobbits     list     n=4
x               int      3
y               float    3.3

In [17]:
another_list = [1, 1.1, 'one', '3', 4.5, [1, 2, 3]]

In [18]:
print(type(another_list))

<class 'list'>

In [19]:
for element in another_list:
    print(type(element))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'list'>

In [20]:
print( type(another_list[0]) )

print( type(another_list[1]) )

print( type(another_list[2]) )

<class 'int'>
<class 'float'>
<class 'str'>