In [1]:
an_empty_list = []

my_list = [1, 2, 'three', 4.0, '5.0']

In [2]:
%whos

Variable        Type    Data/Info
---------------------------------
an_empty_list   list    n=0
my_list         list    n=5

## Tuples

In [3]:
an_empty_tuple = ()

my_tuple = (1, 2, 'three', 4.0, '5.0')

In [4]:
%whos

Variable         Type     Data/Info
-----------------------------------
an_empty_list    list     n=0
an_empty_tuple   tuple    n=0
my_list          list     n=5
my_tuple         tuple    n=5

In [5]:
print( len(an_empty_tuple) )

print( len(my_tuple) )

print( len(my_list) )

0
5
5

In [6]:
print( my_tuple[0] )

print( my_tuple[0:3] )

1
(1, 2, 'three')

In [7]:
print( my_list[:3] )

[1, 2, 'three']

## Lists are MUTABLE

In [8]:
my_list[0]

1

In [9]:
my_list[0] = 0

In [10]:
print( my_list )

[0, 2, 'three', 4.0, '5.0']

## Tuples are IMMUTABLE

In [11]:
my_tuple[0] = 0

TypeError: 'tuple' object does not support item assignment

## Dictionaries

In [12]:
my_list_of_lists = [[1, 2, 3], ['one', 'two', 'three'], [1.0, 2.0, 3.0]]

print( type(my_list_of_lists) )

<class 'list'>

In [13]:
for a_list in my_list_of_lists:
    print( type( a_list ) )

<class 'list'>
<class 'list'>
<class 'list'>

In [14]:
for a_list in my_list_of_lists:
    for element in a_list:
        print( type(element) )
    print('*--*')

<class 'int'>
<class 'int'>
<class 'int'>
*--*
<class 'str'>
<class 'str'>
<class 'str'>
*--*
<class 'float'>
<class 'float'>
<class 'float'>
*--*

In [15]:
# sequential order is important for lists
print( my_list_of_lists[0] )

print( my_list_of_lists[2] )

[1, 2, 3]
[1.0, 2.0, 3.0]

Dictionaries allow us to use KEY/VALUE pairs to store information compared to the index-based storage of lists.

In [16]:
an_empty_dict = {}

# assign KEY/VALUE pairs we separate the KEY and the VALUE with `:`

simple_dict = {'first_name':'joe', 'last_name':'yurko'}

print( type( simple_dict) )

print( simple_dict )

<class 'dict'>
{'first_name': 'joe', 'last_name': 'yurko'}

In [17]:
%whos

Variable           Type     Data/Info
-------------------------------------
a_list             list     n=3
an_empty_dict      dict     n=0
an_empty_list      list     n=0
an_empty_tuple     tuple    n=0
element            float    3.0
my_list            list     n=5
my_list_of_lists   list     n=3
my_tuple           tuple    n=5
simple_dict        dict     n=2

In [18]:
print( len(simple_dict) )

2

In [19]:
# to access the VALUES we use [] and pass in the KEY
simple_dict['first_name']

'joe'

In [20]:
print( simple_dict['last_name'] )

yurko

Dictionaries are unordered. There is no sequential ordering of the values.

In [21]:
# we will get an error here
simple_dict[0]

KeyError: 0

### Example in Section 5.6 of JVG

In [22]:
monthNumbers = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5,
               1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May'}

In [23]:
print( type(monthNumbers) )

print( len(monthNumbers) )

<class 'dict'>
10

In [24]:
print( monthNumbers )

{'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May'}

In [25]:
# to access the value of 1, we need to specify the KEY as `'Jan'`
monthNumbers['Jan']

1

In [26]:
# to access the value of `'Jan'`, we need to specify the KEY as `1`
monthNumbers[1]

'Jan'

In [27]:
# to add new ITEMS (KEY/VALUE pairs)
monthNumbers['June'] = 6

print(monthNumbers)

{'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 'June': 6}

In [29]:
monthNumbers[6] = 'Jun'

In [30]:
print( monthNumbers )

{'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 'June': 6, 6: 'Jun'}

In [31]:
# if we iterate over a dictionary, it iterates over the keys
# in their creation or assignment order

for a_key in monthNumbers:
    print( a_key )

Jan
Feb
Mar
Apr
May
1
2
3
4
5
June
6

In [32]:
# to print the values, we have to pass in the KEY to the dictionary

for a_key in monthNumbers:
    print(monthNumbers[a_key])

1
2
3
4
5
Jan
Feb
Mar
Apr
May
6
Jun

### check if a key exists

Use the `in` operator.

In [33]:
'Jan' in monthNumbers

True

In [34]:
4 in monthNumbers

True

In [35]:
6 in monthNumbers

True

In [36]:
'Dec' in monthNumbers

False

In [37]:
6.0 in monthNumbers

True

In [38]:
'December' in monthNumbers

False

In [39]:
monthNumbers['Dec']

KeyError: 'Dec'

### back to the list of lists example

In [40]:
# Use NAMES via the KEYS to describe what the elements are

my_dict_of_lists = {'integer_list':[1, 2, 3],
                   'string_list':['one', 'two', 'three'],
                   'float_list':[1.0, 2.0, 3.0]}

In [41]:
my_dict_of_lists['string_list']

['one', 'two', 'three']

In [42]:
my_dict_of_lists['integer_list']

[1, 2, 3]

In [43]:
my_dict_of_lists['float_list']

[1.0, 2.0, 3.0]

### programmatic key/value pair assignment

In [44]:
# add August to the monthNumbers dictionary

august_str = 'Aug'

august_int = 8

monthNumbers[august_str] = august_int

monthNumbers[august_int] = august_str

In [45]:
print(monthNumbers)

{'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 'June': 6, 6: 'Jun', 'Aug': 8, 8: 'Aug'}

## Sets

What are the unique values in a list?

In [46]:
3 * ['a', 'b', 'c']

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [47]:
long_list = 77 * ['a', 'b', 'c', 'd', 'e', 'f']

In [48]:
print( len(long_list) )

462

In [49]:
# use the set() function to find ALL unique values

item_set = set(long_list)

In [50]:
print( type(item_set) )

<class 'set'>

In [51]:
print( item_set )

{'f', 'a', 'e', 'd', 'c', 'b'}

In [52]:
%whos

Variable           Type     Data/Info
-------------------------------------
a_key              int      6
a_list             list     n=3
an_empty_dict      dict     n=0
an_empty_list      list     n=0
an_empty_tuple     tuple    n=0
august_int         int      8
august_str         str      Aug
element            float    3.0
item_set           set      {'f', 'a', 'e', 'd', 'c', 'b'}
long_list          list     n=462
monthNumbers       dict     n=14
my_dict_of_lists   dict     n=3
my_list            list     n=5
my_list_of_lists   list     n=3
my_tuple           tuple    n=5
simple_dict        dict     n=2

In [53]:
# useful for search operations
'a' in long_list

True

In [54]:
'a' in item_set

True